{{!--
/*
 * custom field type [nextplandate] ZK4-Oparation
 */
--}}
<input id="nextPlanDateBtn" type="button" value="取得" data-action="runApi" class="btn btn-primary" data-event="button:get_next_button:click" track="click:get_next_button" name="get_next_button" style="display: none;">
