{{!--
/*
 * custom field type [nextplandate] ZK4-Oparation
 */
--}}
{{#if this.display_flg}}
<input id="nextPlanDateBtn" type="button" value="取得" data-action="runApi" class="btn btn-primary" data-event="button:get_next_button:click" track="click:get_next_button" name="get_next_button">
{{/if}}